build
CMakeCache.txt
CopyOfCMakeCache.txt
CMakeDoxyfile.in
CMakeDoxygenDefaults.cmake
_deps/
picotool/
pico_flash_region.ld
Makefile
cmake_install.cmake
elf2uf2/
generated/
pico-sdk/
pioasm/
CMakeFiles
*.pio.h
*.bin
*.dis
*.elf
*.elf.map
*.uf2
*.hex
**/core
*.pyc
**/out/**
.vs
.pydevproject
/pi/samples/afmpub
/pi/samples/gbpub
